*{
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    background: linear-gradient(rgb(76, 207, 178), rgb(70, 80, 112));
    height: fit-content;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
}

.serchBar{
    display: flex;
    justify-content: space-between;
    background: none;
}
.input{
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 215px;
    color: black;
}

.input:focus{
    outline: none;
}

.search-image{
    height: 18px;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.image-weather{
    height: 120px;
    margin-left: 80px;
    margin-top: 20px;
}

.temp{
    font-size: 55px;
    margin-left: 70px;
}

.city-name{
    font-size: 45px;
    margin-left: 70px;
}

.last {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left{
    display: flex;
    justify-content: space-evenly;
    width: 100px;
}

.humidity-perc{
    font-size: 25px;
}

.wind-speed{
    font-size: 20px;
}

.right{
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.humidity-image , .wind-image {
    height: 35px;
}

.text{
    display: flex;
    justify-content: space-around;
}